/* ============= VARIABLES ============= */
/* ========== COLORS ========== */
$black: #000;
$grey-1: #333;
$grey-2: #444;
$white: #F1F1F1;

/* ========== Fonts ========== */

/* ========== Font-size ========== */
$f-1: 28px;
$f-2: 22px;
$f-3: 16px;
$f-4: 12px;
$f-icon: 18px;
$fm-icon: 30px;
$fl-icon: 40px;
$fxl-icon: 60px;
/* ========== PADDING ========== */
$p-1: 5px;
$p-2: 10px;
$p-3: 15px;
$p-4: 20px;
$p-5: 25px;
// PADDING M
$pm-1: 30px;
$pm-2: 40px;
// PADDING L
$pl-1: 60px;
// PADDING XL
$pxl-1: 80px;
$pxl-2: 120px;
$pxl-3: 200px;

/* ========== MARGIN ========== */
$m-1: 5px;
$m-2: 10px;
$m-3: 15px;
$m-4: 20px;
$m-5: 25px;
// MARGIN M
$mm-1: 30px;
$mm-2: 40px;
// MARGIN L
$ml-1: 60px;
// MARGIN XL
$mxl-1: 80px;
$mxl-2: 120px;
$mxl-3: 180px;

/* ============= MIXINS ============= */

// USE : @include nameOfFunction
@mixin up-phone {
    @media screen and (min-width: 576px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (min-width: 992px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1200px) {
        @content;
    }
}